.product_page_container {
    display:flex;
    flex-direction:column; 
    height:100%; 
    max-width:90%;
}

.product_page_container-sub {
    display:flex; 
    justify-content:center;
    align-content:center; 
    padding:3rem; 
    flex-grow:1;
}

.product_page_container-image {
    display: grid;
    place-content: center;

    & img {
        height: 30rem;
    }
}

.product_page_container-details {
    display:flex;;
    flex-direction:column;
    justify-content:center;
    flex:1;

    & h1 {
        text-align: center;
    }

    & > button {
        background:orange;

        &:hover { 
            background:orange; 
            opacity: .5;
        }
    }

    
}

.product_page_container-price {
    width:100%;
    display:flex;
    justify-content:space-around;

    & div {
        display:flex;
        justify-content:center;
        align-content:center;
        gap:1rem;
        margin-bottom:2rem;

        & span {
            font-weight:600;
            font-size:2rem;
        }
    }

    
}